@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
.header{
  height: 680px;
  /* background-image: url(../images/banners-1.jpg); */
  background: linear-gradient(0deg,
  rgb(16,16,16) -19.5%,
  rgb(16,16,16,0) 100%
  ),url(/images/banners-1.jpg);
  background-size: cover;
  position: relative;
}
.container{
  width: 1450px;
  margin: 0px auto;
}
.title-bar{
  background-color: #222222;
  color: white;
  font-family: sans-serif;
  padding: 2px;
  text-align: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.nav-manu{
  display: inline;
  text-transform: uppercase;
  list-style: none;
  margin: 0px 20px;
}
.nav-manu a{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.button-items{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button-items i{
  color: #fff;
  font-size: 24px;
  margin: 0px 15px;
}
.button-items i:hover{
  cursor: pointer;
  opacity: 0.7;
}
.button-items input{
  height: 40px;
  width: 200px;
  padding: 15px;
  padding-right: 30px;
  background-color: #fff;
  border: none;
  outline: noine;
  border-radius: 25px;
}
.searchbox{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.searchbox i{
  color: #000;
  font-size: 16px;
  opacity: 0.7;
  position: absolute;
  right: 0;
}
.hero-content{
  width: 240px;
  height: 400px;
  text-align: left;
  position: absolute;
  top: 65%;
  left: 5%;
}
.hero-content h2{
  font-size: 52px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.hero-content p{
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
}
.hero-content button{
  background-color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  height: 50px;
  width: 260px;
  border-radius: 45px;
  transition: 0.3s;
}
.hero-content button:hover{
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.layout-grid{
  width: 100%;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.coats{
  background: #000;
  background-image: url(../images/models/models-6.jpg);
  background-size: cover;
  width: 400px;
  height: 480px;
}
.knit{
  background-image: url(../images/models/models-7.jpg);
  background-size: cover;
  width: 400px;
  height: 480px;
}
.dress{
  background-image: url(../images/models/models-1.jpg);
  background-size: cover;
  width: 400px;
  height: 480px;
}
.jeans{
  background-image: url(../images/models/models-8.jpg);
  background-size: cover;
  width: 400px;
  height: 480px;
}
.layout-grid .grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid h2,h4,i{
  color: #fff;
}
.grid h2{
  font-size: 60px;
  font-weight: 800;
  text-shadow: 1px 1px 10px #000;
}
.grid div{
  display: flex;
}
.products-catelog{
  margin: 20px 0px;
}
.product-intro{
  text-align: center;
  height: 40px;
}
.product-intro span{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  margin: 8px 0px;
}
.products{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.products-div{
  height: auto;
  width: 245px;
}
.products img{
  width: 245px;
}
.products-div h5{
  color: #595959;
  font-size: 16px;
  padding: 5px 0px 3px 3px;
}
.products-div h6{
  font-size: 18px;
  padding: 0px 3px;
}